*{
	box-sizing:
	margin: 20px;
	padding: 20px;
}

#wrapper{

	width: 1100px;
	min-height: 200px;
	background-color: #F9F9F9;
	margin: 5px auto;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
}
#jd { 
	width: 1000px; 
}

.Jayne {
	width: 200px;
	min-height: 200px;
}
.mastershadow {
	width: 300px;
	min-height: 300px;
}

#background{ 
	width: 1000px;
	min-height: 2000px;
	background-color: #604B55;
	margin: 50px;


.div1 {
	/*position: relative;*/
	border: 1px solid red;
	display: inline-block;
	margin: 0 auto;
	background-color:#E6DDE6;
	height: 300px;
	width: 300px;
	
}

.div2 {

	width: 500px;
	height: 300px;
	margin: 10px;
	background-color:#E4D9E3;
	display: inline-block;

}

.div13 {
	width: 200px;
	height: 376px;
	margin: 0 15px;
	background-color:#E4D9E3;

}

.div13 {
	border: 2px solid blue;
	background-color:#E4D9E3;
}

.div15 {
	border: 1px solid orange;
	background-color:#E4D9E3;
}



	