*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}

#container {
	background-color: #DDDFD3 ;
	height: 700px;
	width: 885px;
	margin: 0px auto;
	padding: 15px;

}

.header { 

	border: 1px solid red ;
	height: 80px;
	background-color: #38B0AD;

}

 .body { 
 	position: relative;
	border: 2px solid green ;
	height: 515px;
	background-color: #FDE691;
	padding: 20px;
  }

.footer { 
	border: 1px solid yellow ;
	height: 80px;
 }

 .firstbox {
	height: 100%;
	border: 1px solid  white;
	width: 30%;
	float: left;
	position: relative;
	padding: 10px;
 }

 .firstbox-inner { 
	background-color: #153F43;
	height: 100%;
	width: 100%;
	color: white;
	padding: 10px;
	text-align: left;
	font-family: 'Roboto', sans-serif;

  }

 .secondbox { 

	height: 100% ;
	border: 1px solid black ;
	width: 70%;
	float: left;
	font-size: 10pt;
	color: white;
	font-family: 'Roboto', sans-serif;


  }

  .top-three { 

	display: inline-block;
	height: 125px;
	width: 160px;
	background-color: #8A9FA1;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #153F43;
	vertical-align: top; 


  }

  .mid-two {

  	height: 125px;
  	width: 250px;
  	background-color: #8A9FA1;
  	display: inline-block;
  	background-color: #153F43;
  	vertical-align: top;
  	margin-left: 20px;




  }

  .bottom-one {
	height: 125px;
	width: 530px;
	background-color: #8A9FA1;
	border: 2px dashed pink;
	margin: 20px;
	background-color: #153F43;


  }

  h3 {
	margin: 10px 0px;
  }

  p {
	margin-left: 10px;
	font-size: .85em;
  }

  .border-footer {

  	background-color: #38B0AD;
  	height: 75px;
  	margin-top: 10px;
  }