* {
	
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

#body {

	height: 950px;
	width: 970px;
	background-color: #6F5964;
	border: 2px solid black;
}

.navigation {

	height: 100px;
	width: 970px;
	background-color: yellow;
	border: 2px solid yellow;
	font-style: bold;

}

.body-top {

	height: 300px;
	width: 920px;
	border: 2px solid silver;
}

.body-bottom {

	height: 300px;
	width: 916px;
}

