*{
	margin: 20px;
	padding: 10px;
}

#wrapper{
	background-color: #F9F9F9;
	display: inline-block;
	margin: 0px auto;
	min-height: 200px;
	padding: 20px 5px 20px 5px;
	width: 1200px;
}
.div1 {
	position: relative;
	background-color:#C0C0C0;
	display: inline-block;
	height: 300px;
	margin: 0 auto;
	width: 400px;
	text-align: left;
	