<!DOCTYPE html>
<html>
<head>
	<title>Car Registry</title>
	<link rel="stylesheet" href="http://localhost:7077/styles/main.css" media="screen" title="no title">
</head>
<body>
	<h1>ADD NEW CAR</h1>
	<form action="process.php" method="post">
	<p>
		<label for="first_name">First Name</label>
		<input type="text" id="last_name" name="last_name">
	</p>
	<p>
		<label for="last_name">Last Name</label>
		<input type="text" id="last_name" name="last_name">
	</p>
	<p>
		<label for="car_model">Car Model</label>
		<input type="text" id="car_model" name="car_model">
	</p>
	<p>
		<label for="year">Year</label>
		<input type="text" id="year" name="year">
	</p>
	<p>
		<label for="color">Color of Car</label>
		<input type="text" id="color" name="color">			

</body>
</html>